body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  max-width: 1440px;
  margin: 0;
}

.container {
  padding: 20px 5%;
}

.content_container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  min-height: 100vh;
}

#Dark{
  color: #cfcfcf;
  background-color: #21232A;
  transition: 1s;
}

#Light {
  background-color: #f6f6f6;
  color: #21232A;
  transition: 1s;
}
